.drill-step {
    display: table-cell;
    height: 10px;
    border: 1px solid white;
}

.new {
    background-color: lightgrey;
}

.current {
    background-color: royalblue;
}

.finished {
    background-color: black;
}

.steps {
    width: 100%;
    display: table;
    table-layout: fixed;
}