progress {
    width: 70%;
    height: 12px;
    border: 0 none;
    background: rgba(1, 1, 1, 0.3);
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: #000;
}

progress::-moz-progress-bar {
    background: #000;
}

#title {
    margin-bottom: 10vh;
    font-size: 4em;
    min-height: 30vh;
}

#time {
    font-size: 2em;
    margin-bottom: 0;
}